<div class="h-100">
  <section>
    <img class="img-fluid" src="./modern-house.jpg"/>
  </section>
  <section class="container-fluid d-flex flex-column">
    <div class="d-flex flex-row justify-content-center">
      <h3 class="fw-bold m-2">
        PRODUTOS
      </h3>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <span class="m-1 border rounded-2 text-center ps-4 pt-1 pb-1 pe-4 mouse-click">Todos os produtos</span>
      <span class="m-1 border rounded-2 text-center ps-4 pt-1 pb-1 pe-4 mouse-click">Todos os produtos</span>
      <span class="m-1 border rounded-2 text-center ps-4 pt-1 pb-1 pe-4 mouse-click">Todos os produtos</span>
      <span class="m-1 border rounded-2 text-center ps-4 pt-1 pb-1 pe-4 mouse-click">Todos os produtos</span>
      <span class="m-1 border rounded-2 text-center ps-4 pt-1 pb-1 pe-4 mouse-click">Todos os produtos</span>
    </div>
    <section class="container-fluid mt-5">
      <div class="row row-cols-4 d-flex flex-row justify-content-center">
        <section class="card shadow border-2 m-2">
          <div class="d-flex flex-column align-items-center">
            <img class="img-fluid m-2" src="./house.jpg"/>
            <div class="w-100 d-flex flex-column justify-content-start">
              <h1 class="container m-1 fw-bold h5">Janela com vista para o mar</h1>
              <h1 class="container m-1 fw-bold h6">TAGS</h1>
            </div>
            <div class="container col">
              <span class="badge badge-pill badge-primary bg-dark m-1">angular</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">ng-bootstrap</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
            </div>
            <div class="container-fluid col">
              <a href="javascript:void(0)" class="btn btn-success m-1">Info</a>
              <a href="javascript:void(0)" class="btn btn-warning m-4">Adicionar ao orcamento</a>
            </div>
          </div>
        </section>

        <section class="card shadow border-2 m-2">
          <div class="d-flex flex-column align-items-center">
            <img class="img-fluid m-2" src="./house.jpg"/>
            <div class="w-100 d-flex flex-column justify-content-start">
              <h1 class="container m-1 fw-bold h5">Janela com vista para o mar</h1>
              <h1 class="container m-1 fw-bold h6">TAGS</h1>
            </div>
            <div class="container col">
              <span class="badge badge-pill badge-primary bg-dark m-1">angular</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">ng-bootstrap</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
            </div>
            <div class="container-fluid col">
              <a href="javascript:void(0)" class="btn btn-success m-1">Info</a>
              <a href="javascript:void(0)" class="btn btn-warning m-4">Adicionar ao orcamento</a>
            </div>
          </div>
        </section>

        <section class="card shadow border-2 m-2">
          <div class="d-flex flex-column align-items-center">
            <img class="img-fluid m-2" src="./house.jpg"/>
            <div class="w-100 d-flex flex-column justify-content-start">
              <h1 class="container m-1 fw-bold h5">Janela com vista para o mar</h1>
              <h1 class="container m-1 fw-bold h6">TAGS</h1>
            </div>
            <div class="container col">
              <span class="badge badge-pill badge-primary bg-dark m-1">angular</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">ng-bootstrap</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
            </div>
            <div class="container-fluid col">
              <a href="javascript:void(0)" class="btn btn-success m-1">Info</a>
              <a href="javascript:void(0)" class="btn btn-warning m-4">Adicionar ao orcamento</a>
            </div>
          </div>
        </section>

        <section class="card shadow border-2 m-2">
          <div class="d-flex flex-column align-items-center">
            <img class="img-fluid m-2" src="./house.jpg"/>
            <div class="w-100 d-flex flex-column justify-content-start">
              <h1 class="container m-1 fw-bold h5">Janela com vista para o mar</h1>
              <h1 class="container m-1 fw-bold h6">TAGS</h1>
            </div>
            <div class="container col">
              <span class="badge badge-pill badge-primary bg-dark m-1">angular</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">ng-bootstrap</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
            </div>
            <div class="container-fluid col">
              <a href="javascript:void(0)" class="btn btn-success m-1">Info</a>
              <a href="javascript:void(0)" class="btn btn-warning m-4">Adicionar ao orcamento</a>
            </div>
          </div>
        </section>

        <section class="card shadow border-2 m-2">
          <div class="d-flex flex-column align-items-center">
            <img class="img-fluid m-2" src="./house.jpg"/>
            <div class="w-100 d-flex flex-column justify-content-start">
              <h1 class="container m-1 fw-bold h5">Janela com vista para o mar</h1>
              <h1 class="container m-1 fw-bold h6">TAGS</h1>
            </div>
            <div class="container col">
              <span class="badge badge-pill badge-primary bg-dark m-1">angular</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">ng-bootstrap</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
            </div>
            <div class="container-fluid col">
              <a href="javascript:void(0)" class="btn btn-success m-1">Info</a>
              <a href="javascript:void(0)" class="btn btn-warning m-4">Adicionar ao orcamento</a>
            </div>
          </div>
        </section>

        <section class="card shadow border-2 m-2">
          <div class="d-flex flex-column align-items-center">
            <img class="img-fluid m-2" src="./house.jpg"/>
            <div class="w-100 d-flex flex-column justify-content-start">
              <h1 class="container m-1 fw-bold h5">Janela com vista para o mar</h1>
              <h1 class="container m-1 fw-bold h6">TAGS</h1>
            </div>
            <div class="container col">
              <span class="badge badge-pill badge-primary bg-dark m-1">angular</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">ng-bootstrap</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
              <span class="badge badge-pill badge-primary bg-dark m-1">creative</span>
            </div>
            <div class="container-fluid col">
              <a href="javascript:void(0)" class="btn btn-success m-1">Info</a>
              <a href="javascript:void(0)" class="btn btn-warning m-4">Adicionar ao orcamento</a>
            </div>
          </div>
        </section>
      </div>
    </section>
    <nav class="d-flex flex-row justify-content-center mt-4">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link bg-success text-white shadow" href="#">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link bg-success text-white shadow" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link bg-success text-white shadow" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link bg-success text-white shadow" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link bg-success text-white shadow" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="container mt-5">
    <img class="img-fluid" src="./house.jpg"/>
  </section>
</div>
