<div class="h-100 w-100 position-relative">
  <section>
    <img class="img-fluid" src="./modern-house.jpg"/>
  </section>

  <section class="w-75 card shadow border-2 m-2 position-absolute start-50 top-50 translate-middle">

    <div class="d-flex flex-row justify-content-center align-items-center">
      <h1 class="fw-bold">Contactos</h1>
    </div>

    <div class="d-flex flex-row w-100 justify-content-between">

      <div class="d-flex flex-column m-2">
        <h2 class="fw-bold">Email</h2>
        <div class="d-flex flex-row m-1">
          <i class="bi bi-envelope-fill me-2 text-black"></i>
          <p>some-email</p>
        </div>
      </div>

      <div class="d-flex flex-column m-2">
        <h2 class="fw-bold">Telefone</h2>
        <div class="d-flex flex-row m-1">
          <i class="bi bi-telephone-fill me-2 text-black"></i>
          <p>some-number</p>
        </div>
      </div>

      <div class="d-flex flex-column m-2">
        <h2 class="fw-bold">Morada</h2>
        <div class="d-flex flex-row m-1">
          <i class="bi bi-geo-alt-fill me-2 text-black"></i>
          <p>some-address</p>
        </div>
      </div>

    </div>
  </section>

</div>
