<div class="h-100 w-100 position-relative">
  <section>
    <img class="img-fluid" src="./modern-house.jpg"/>
  </section>

  <section class="w-75 card shadow border-2 m-2 position-absolute start-50 top-50 translate-middle">

    <div class="d-flex flex-row justify-content-center align-items-center">
      <h1 class="fw-bold fs-3">PEDIDO DE ORCAMENTO</h1>
    </div>

    <form class="d-flex flex-column w-100 justify-content-between">

      <div class="form-group mb-3 w-100">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
          </div>
          <input class="form-control" placeholder="Nome/Pessoa de contacto" type="text">
        </div>
      </div>

      <div class="form-group mb-3">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi bi-people-fill"></i></span>
          </div>
          <input class="form-control" placeholder="Empresa(Opcional)" type="text">
        </div>
      </div>

      <div class="d-flex flex-row justify-content-between w-100">

        <div class="form-group mb-3 w-100">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-person-badge-fill"></i></span>
            </div>
            <input class="form-control" placeholder="N°Contribuinte (NIF)" type="text">
          </div>
        </div>

        <div class="form-group mb-3 w-100">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
            </div>
            <input class="form-control" placeholder="N° de telefone" type="text">
          </div>
        </div>
      </div>

      <div class="form-group mb-3 w-100">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
          </div>
          <input class="form-control" placeholder="Email" type="email">
        </div>
      </div>

      <div class="d-flex flex flex-row justify-content-around m-5">
        <p class="fw-bold fw-bold fs-5">Tipo de Intervencao</p>
        <div class="d-flex flex flex-row">
          <button class="btn btn-1 btn-success me-5" type="button">Instalacao</button>
          <button class="btn btn-1 btn-neutral me-5" type="button">Substituicao</button>
          <button class="btn btn-1 btn-neutral me-5" type="button">Sem instalacao</button>
        </div>
      </div>

      <div class="d-flex flex flex-row justify-content-around m-5">
        <p class="fw-bold fw-bold fs-5">Orcamento com entrega</p>
        <div class="d-flex flex flex-row">
          <button class="btn btn-1 btn-success me-5" type="button">Sim</button>
          <button class="btn btn-1 btn-neutral me-5" type="button">Nao</button>
        </div>
      </div>

      <div class="form-group mb-3 w-100">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
          </div>
          <input class="form-control" placeholder="Morada fiscal" type="text">
        </div>
      </div>

      <div class="form-group mb-3 w-100">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi bi-house-fill"></i></span>
          </div>
          <input class="form-control" placeholder="Morada de entrega" type="text">
        </div>
      </div>

      <div class="form-group mb-3 w-100">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi bi-house-fill"></i></span>
          </div>
          <input class="form-control" placeholder="Observacoes" type="text">
        </div>
      </div>

      <div class="d-flex flex flex-row justify-content-center w-100">
          <div class="custom-control custom-control-alternative custom-checkbox">
            <input class="custom-control-input" id="customCheckRegister" type="checkbox">
            <label class="custom-control-label" for="customCheckRegister">
                        <span>I agree with the
                          <a href="javascript:void(0)">Privacy Policy</a>
                        </span>
            </label>
          </div>
      </div>

    </form>
  </section>

</div>
