<div class="h-100">
  <div class="position-relative">
    <img class="img-fluid" src="./house.jpg"/>
    <div class="position-absolute bottom-0 start-0 mb-5 m-5 text-start">
      <h1 class="text-white">Portas, Janelas e Portões</h1>
    </div>
  </div>
  <section class="container d-flex flex-row justify-content-between mt-5">
    <div class="flex-row col-7 align-content-start">
      <h2>AluCávado – Soluções de Alumínio à Medida</h2>
      <p>
        Na AluCávado, especializamo-nos na criação de portas, janelas, portões e pérgolas em alumínio, feitas à medida para cada projeto. Combinamos design moderno, durabilidade e eficiência
        energética, garantindo soluções elegantes e funcionais para a sua casa ou empresa.
      </p>
      <ul class="list-unstyled">
        <li>Caixilharia em alumínio de alta qualidade.</li>
        <li>Portas e janelas de alumínio personalizadas.</li>
        <li>Portões e pérgolas à medida.</li>
      </ul>
    </div>
      <img src="man-doing-something.jpg" style="width: 17%;" class="img-fluid floating me-4">
  </section>
  <section class="container-fluid">
    <div class="container-fluid m-1  mt-5 row justify-content-center col-lg-12 row row-grid">
      <div class="col-lg-3">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body py-5">
            <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
              <i class="ni ni-planet"></i>
            </div>
            <h6 class="text-warning text-uppercase">Prepare Launch</h6>
            <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
            <div>
              <span class="badge m-1 bg-black">marketing</span>
              <span class="badge m-1 bg-black">product</span>
              <span class="badge m-1 bg-black">launch</span>
            </div>
            <a href="javascript:void(0)" class="btn btn-warning mt-4">Saiba mais</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body py-5">
            <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
              <i class="ni ni-planet"></i>
            </div>
            <h6 class="text-warning text-uppercase">Prepare Launch</h6>
            <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
            <div>
              <span class="badge m-1 bg-black">marketing</span>
              <span class="badge m-1 bg-black">product</span>
              <span class="badge m-1 bg-black">launch</span>
            </div>
            <a href="javascript:void(0)" class="btn btn-warning mt-4">Saiba mais</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body py-5">
            <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
              <i class="ni ni-planet"></i>
            </div>
            <h6 class="text-warning text-uppercase">Prepare Launch</h6>
            <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
            <div>
              <span class="badge m-1 bg-black">marketing</span>
              <span class="badge m-1 bg-black">product</span>
              <span class="badge m-1 bg-black">launch</span>
            </div>
            <a href="javascript:void(0)" class="btn btn-warning mt-4">Saiba mais</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body py-5">
            <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
              <i class="ni ni-planet"></i>
            </div>
            <h6 class="text-warning text-uppercase">Prepare Launch</h6>
            <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
            <div>
              <span class="badge m-1 bg-black">marketing</span>
              <span class="badge m-1 bg-black">product</span>
              <span class="badge m-1 bg-black">launch</span>
            </div>
            <a href="javascript:void(0)" class="btn btn-warning mt-4">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mt-5">
    <img class="img-fluid" src="./modern-house.jpg"/>
  </section>
</div>
