<div class="h-100 w-100 position-relative">
  <section>
    <img class="img-fluid" src="./modern-house.jpg"/>
  </section>
  <section class="w-75 m-2 position-absolute start-50 top-50 translate-middle">
    <div class="card shadow border-2 m-2 d-flex flex-row justify-content-between align-items-center p-3">
      <div class="d-flex flex-column justify-content-start align-items-start m-5">
        <h1 class="fs-4 fw-bold">NOME DO PRODUTO</h1>
        <a href="javascript:void(0)" class="btn btn-success fs-6">Carateristicas <i class="bi bi-caret-down-fill"></i></a>
      </div>
      <section class="container m-4">
        <img class="img-fluid" src="./modern-house.jpg"/>
      </section>
    </div>
  </section>
</div>
<section class="d-fex flex-row justify-content-center m-4">
  <div class="w-100 h-100 card shadow" style="background-color: darkgray;">
    <p class="m-5 p-5" style="color:  #655856;">
      Este painel de aço inoxidável premium foi projetado para oferecer durabilidade e um visual moderno, atendendo às mais altas exigências do mercado. Fabricado
      com materiais de alta qualidade, ele apresenta resistência superior à corrosão, ferrugem e desgaste, mesmo quando exposto a ambientes agressivos ou condições
      climáticas adversas. O acabamento escovado não só proporciona um aspecto sofisticado e contemporâneo, mas também facilita a limpeza e manutenção diária.

      Além disso, a estrutura robusta garante estabilidade e segurança em qualquer aplicação, seja em projetos residenciais, comerciais ou industriais. Sua
      versatilidade permite o uso em fachadas arquitetônicas, revestimentos de cozinhas, equipamentos industriais, móveis planejados e até mesmo em detalhes decorativos,
      agregando valor estético e funcional aos ambientes.

      O painel é facilmente adaptável a diferentes necessidades de projeto, podendo ser cortado, dobrado ou perfurado conforme especificações técnicas. Sua
      superfície lisa impede o acúmulo de sujeira e bactérias, tornando-o uma excelente escolha para locais que exigem altos padrões de higiene, como hospitais,
      laboratórios e cozinhas profissionais.

      Escolher este produto metálico é investir em inovação, qualidade e design, garantindo um resultado final elegante, seguro e duradouro para qualquer tipo
      de obra ou aplicação.
    </p>
  </div>
</section>
<section class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
<h1>Desempenhos perante diferentes cenários:</h1>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center card m-4" style="background-color: darkgray;">
      <h1 class="fs-3 m-3">Nome de carateristica</h1>
      <img src="./modern-house.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
      <div class="d-flex flex-row">
        <label class="form-check-label me-2" for="flexSwitchCheckDefault">Verao</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        </div>
        <label class="form-check-label" for="flexSwitchCheckDefault">Inverno</label>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center card m-4" style="background-color: darkgray;">
      <h1 class="fs-3 m-3">Nome de carateristica</h1>
      <img src="./modern-house.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
      <div class="d-flex flex-row">
        <label class="form-check-label me-2" for="flexSwitchCheckDefault">Verao</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        </div>
        <label class="form-check-label" for="flexSwitchCheckDefault">Inverno</label>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center card m-4" style="background-color: darkgray;">
      <h1 class="fs-3 m-3">Nome de carateristica</h1>
      <img src="./modern-house.jpg" alt="Rounded image" class="img-fluid rounded shadow" style="width: 150px;">
      <div class="d-flex flex-row">
        <label class="form-check-label me-2" for="flexSwitchCheckDefault">Verao</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        </div>
        <label class="form-check-label" for="flexSwitchCheckDefault">Inverno</label>
      </div>
    </div>
  </div>
</section>
<section class="m-4">
  <h1>CORES</h1>
</section>
<section class="container mt-5">
  <img class="img-fluid" src="./house.jpg"/>
</section>
