<div class="h-100 w-100 position-relative">
  <section>
    <img class="img-fluid" src="./modern-house.jpg"/>
  </section>

  <section class="w-75 card shadow border-2 m-2 position-absolute start-50 top-50 translate-middle">

    <div class="d-flex flex-row justify-content-center align-items-center mt-4">
      <h1 class="fw-bold">Sobre nós</h1>
    </div>

    <div class="m-5">
      Alucavado é uma empresa inovadora que tem como missão estabelecer uma comunicação direta e eficiente entre clientes e profissionais especializados na fabricação de portões e portas em metal. Ao eliminar intermediários e otimizar o processo de conexão, garantimos que construtores, arquitetos, designers e proprietários trabalhem diretamente com serralheiros de confiança.

      Nosso objetivo é valorizar o trabalho artesanal, promovendo soluções personalizadas, duráveis e esteticamente únicas — seja na criação de portões de ferro forjado, portas de segurança em aço ou elementos metálicos decorativos. A Alucavado constrói pontes entre ideias e execução, promovendo clareza, colaboração e excelência em cada projeto.

    </div>

  </section>

</div>

