<div class="h-100 w-100 position-relative">
  <section>
    <img class="img-fluid" src="./modern-house.jpg"/>
  </section>
  <section class="w-75 m-2 position-absolute start-50 top-50 translate-middle">
    <div class="card shadow border-2 m-2 d-flex flex-row justify-content-between p-3">
      <div class="d-flex flex-row justify-content-start align-items-center mx-5">
        <h1 class="fw-bold fs-3">QUEM SOMOS?</h1>
      </div>
      <div class="mx-5 m-2 d-flex flex-row justify-content-center align-items-center">
        <p>
          Na AluCávado, transformamos espaços com portões, portas, janelas e pérgolas em alumínio de alta qualidade, combinando design moderno, durabilidade e eficiência energética. Criamos soluções personalizadas para garantir que cada projeto seja único e adaptado às suas necessidades.
        </p>
      </div>
      <img src="house.jpg" style="width: 60%;" class="img-fluid floating me-4">
    </div>
    <div class="card shadow border-2 m-2 d-flex flex-row justify-content-between p-3">
      <img src="house.jpg" style="width: 60%;" class="img-fluid floating mx-4 me-2">
      <div class="d-flex flex-row justify-content-start align-items-center mx-5">
        <h1 class="fw-bold fs-4">Missão: Criar Espaços Mais Seguros, Confortáveis e Elegantes.</h1>
      </div>
      <div class="m-4 d-flex flex-row justify-content-center align-items-center">
        <p>
          A nossa missão é oferecer produtos que aliem segurança, funcionalidade e estética, utilizando materiais premium e processos inovadores. Cada peça é desenvolvida para proporcionar resistência ao tempo, isolamento térmico e acústico, garantindo um investimento sustentável e duradouro.
        </p>
      </div>
    </div>
    <div class="card shadow border-2 m-2 d-flex flex-row justify-content-between p-3">
      <div class="d-flex flex-row justify-content-start align-items-center mx-5">
        <h1 class="fw-bold fs-5">Compromisso com a Qualidade e Personalização.</h1>
      </div>
      <div class="mx-5 m-2 d-flex flex-row justify-content-center align-items-center">
          ✔ Materiais de Alta Performance: Trabalhamos com alumínio de elevada resistência, garantindo durabilidade e baixa manutenção.
          <br/>
          ✔ Soluções à Medida: Cada projeto é adaptado às dimensões, cores e acabamentos desejados.
          <br/>
          ✔ Eficiência Energética: Os nossos sistemas de isolamento ajudam a reduzir consumos de energia.
          <br/>
          ✔ Instalação Profissional: Equipa especializada para assegurar um acabamento perfeito.
      </div>
      <img src="house.jpg" style="width: 60%;" class="img-fluid floating me-4">
    </div>
  </section>
</div>
<section class="d-flex flex-column justify-content-center align-items-center">
  <h1 class="fs-2">Carateristicas diferenciadoras:</h1>
  <div class="d-flex flex-row justify-content-center align-items-center m-3">
    <div class="d-flex flex-column justify-content-between card box-shadow">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column justify-content-between align-items-center">
          <i class="bi bi-star-fill fs-2" style="color: gray;"></i>
          <p class="fw-bold">QUALIDADE</p>
          <p class="p-4">Materiais de alta performance, soluções personalizadas, eficiência energética e instalação profissional: garantimos qualidade superior em cada detalhe, desde o uso de alumínio resistente e duradouro até o acabamento final, adaptando cada projeto às suas necessidades e assegurando conforto e economia de energia.</p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-between card box-shadow m-3">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column justify-content-between align-items-center">
          <i class="bi bi-lightbulb-fill fs-2" style="color: gray;"></i>
          <p class="fw-bold">INOVACAO</p>
          <p class="p-4">Materiais de alta performance, soluções personalizadas, eficiência energética e instalação profissional: garantimos qualidade superior em cada detalhe, desde o uso de alumínio resistente e duradouro até o acabamento final, adaptando cada projeto às suas necessidades e assegurando conforto e economia de energia.</p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-between card box-shadow m-3">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column justify-content-between align-items-center">
          <i class="bi bi-lightning-fill fs-2" style="color: gray;"></i>
          <p class="fw-bold">RAPIDEZ</p>
          <p class="p-4">Materiais de alta performance, soluções personalizadas, eficiência energética e instalação profissional: garantimos qualidade superior em cada detalhe, desde o uso de alumínio resistente e duradouro até o acabamento final, adaptando cada projeto às suas necessidades e assegurando conforto e economia de energia.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container mt-5">
  <img class="img-fluid" src="./modern-house.jpg"/>
</section>



