<nav id="mainNavbar" [class.d-none]="!isAtTop" class="bg-transparent navbar fixed-top">
  <a class="navbar-brand m-2" href="/">
    <h1 class="text-capitalize text-white">AluCávado</h1>
    <h5 class="text-capitalize text-white">Solucoes de Aluminio</h5>
  </a>
  <div class="me-2">
    <a routerLink="/enterprise" class="m-2 fw-bold text-white mouse-click text-decoration-none">EMPRESA</a>
    <a routerLink="/products" class="m-2 fw-bold text-white mouse-click text-decoration-none">PRODUTOS</a>
    <a routerLink="/contacts" class="m-2 fw-bold text-white mouse-click text-decoration-none">CONTACTOS</a>
    <a routerLink="/shoppingCart" class="btn btn-warning rounded fw-bold mr-5 mb-1 ml-4 shadow-lg">PEDIR ORCAMENTO</a>
  </div>
</nav>
